<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='login_controller.js') }}"></script>
</head>
<body>
    <h2>Register</h2>
    <label>Username:</label>
    <input type="text" id="reg-username"><br><br>

    <label>Password:</label>
    <input type="password" id="reg-password"><br><br>

    <button id="register">Register</button>

    <a href="index.html">Back to Login</a>
</body>
</html>
